<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="echo" version="0.2.3">
    <name>EchoCordovaPluign</name>
    <description>A simple example of using native code</description>
    <license>MIT</license>
    <keywords>cordova,echo</keywords>
   

    <dependency id="cordova-plugin-cocoapod-support"/>
    <dependency id="cordova-plugin-add-swift-support"/>

    <platform name="ios">
         <pods-config ios-min-version="11.0" use-frameworks="true"/>
        <!-- Add the latest version of Google's Firebase Core -->
        <pod name="TrustWalletCore" />
    </platform>
</plugin>
